* {
    margin: 0;
    padding: 10;
}

html {
    font-size: 1em;
    font-family: "Nunito", sans-serif;
}

body {
    background-color:#9f86c0 ;
    color:white;
}

header {
    background-color: #231942;
    text-align: center;
    padding: 20px 40px;
}

footer {
    background-color: #231942;
    color:white;
    padding: 15px 35px;
    text-align: center;
}

#about {
    background-color:#5e548e;
    padding: 20px 40px;
    text-align: center;
}
#about1

{
    padding: 20px;
    -webkit-text-stroke: 0.2px;
    -webkit-text-stroke-color: darkblue;
}
#articles {
    padding: 20px 40px;
    color:black;
}

#content {
    padding: 30px 50px;
    box-shadow:midnightblue;
}

p {
    text-align: justify;
    font-size: 1.8rem;
    margin-top: 1.7rem;
    line-height: 2.7rem;
    margin-left: 2.5rem;
    margin-right:2.5rem;
}

nav ul {
    list-style: none;
    text-transform: uppercase;
}
h1{
    font-size: 40px;
    text-align: center;
}
h2{
    font-style: oblique;
    text-align: center;
    
    font-size: 2.4rem;
    margin: 0.5rem;
    line-height: 2.7rem;
    margin-left: 2.5rem;
    margin-right:2.5rem;
    letter-spacing: 3.2px;    
}
h3{
    text-align: center;
    line-height: 150%;
    font-size: 40px;
}
h4{
    text-align: center;
    font-size: 1.5rem;
}
h5{
    text-align: center;
    font-size: 2rem;
    color: blue;
}
dt{
    font-weight: 1000;
    text-align: left;
    font-size: 50px;
    color:lightblue
}
dd{
    text-align: left;
    font-weight: 400;
    font-size: 40px;
}
li{
    font-size: 30px;
    margin-top: 12px;
}


#ddr{
    text-align: center;

}
a:hover{
    color: #ffd6ed;
}
a:focus{
    color:#e0b1ce
}
#rer{
     background-color:#5e548e;
    padding: 20px 40px;
}
.ded{
    margin-right:100px;
    width: 440px;
    height: 600px;
}
.viv{
    width: 480px;
}
a{
    color:#5B508E;
}
.hih{
    text-align: center;

}
.ram{
    text-align: justify;
    margin-top: 1.7rem;
    font-size: 1.8rem;
    line-height: 2.7rem;
    margin-left: 2.5rem;
    margin-right:2.5rem;
    letter-spacing: 3.2px;

}
p:lang(en)
{
    font-size: 25px;
    color:#140a5a;
}
.rdr:after{
    content: "Важно!";
    color:red;
    margin-left: 8px;
}
footer:nth-child(5){
    border: #5B508E;
}
.nn{
   width: 50px;
   height: 50px;
   margin-left:1%;
   margin-right: 1%;
   text-align: center;
}

.lobster-regular {
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

#contact-form input[type="text"]{
    height: 20px;
    width: 250px;
    padding: 5px;
    margin-bottom: 10px;
    border: white solid 1 px;
    background-color: #eddfff;
}

 
  




